
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
    text-align: justify;
}

.contenido-inicio h1 {
        font-size: 20vw;
        text-align: center;
    }

    .contenido-inicio h3 {
        font-size: 1.6rem;
        text-align: center;
    }

body {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    background: #110229;
background: linear-gradient(160deg, rgba(17, 2, 41, 1) 0%, rgba(11, 0, 20, 1) 50%, rgba(21, 0, 22, 1) 75%, rgba(40, 0, 24, 1) 85%, rgba(119, 0, 34, 1) 100%, rgba(79, 0, 29, 1) 93%, rgba(87, 0, 30, 1) 95%, rgba(255, 0, 89, 1) 100%);
    color: #CECCD4;
}

header {
    margin-top: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: #0b0014;
    border-bottom: 0.2rem solid #ff9531;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 2.5rem;
    color: transparent;
    background: linear-gradient(135deg, #ff9531, #ff5a31);
    background-clip: text;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    scale: 1.2;
    color: #fff;
}

nav {
    position: absolute;
    right: 3%;
}

.back-btn a {
    position: absolute;
    top: 114%;
    left: 0%;
    color: #ff9531;
    background: #0b0014;
    border: #ff9531 0.18rem solid;
    border-top: #0b0014;
    padding: 0.5rem 0.5rem 0.4rem 0.4rem;
    border-bottom-right-radius: 1.5rem;
    cursor: pointer;
    scale: 1.7;
    transition: 0.3s ease;
}

.back-btn a:hover {
    left: -1%;
    padding: 0.5rem 0.7rem 0.7rem 1rem;
    border: none;
    background: linear-gradient(135deg, #ffc531, #ff9531, #ff5531);
    color: #110229;
    box-shadow: 0 0 1.3rem #ff5a31;
    text-shadow: 0 0 0.3rem #110929;
}

nav a {
    font-size: 1.8rem;
    color: #fff;
    margin-left: 1.5rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 0.2rem solid transparent;
}

nav a:hover, nav a.active {
    color: #ff9531;
    border-bottom: 0.2rem solid #ff9531;
    border-radius: 0.2rem;
}

@media (max-width: 935px) {
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
        border-left: 0.2rem solid #ff9531;
        border-bottom: 0.2rem solid #ff9531;
        border-bottom-left-radius: 2rem;
        padding: 0rem 0;
        background-color: #0b0014;
    }
    
    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 1.8rem;
        margin: 2.2rem 0;
    }

    nav a:hover, nav a.active {
        padding-bottom: 1rem;
        border-radius: 0.5rem;
    }

    section.inicio {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem 6%;
        gap: 2rem;
    }

    .foto-inicio {
        width: 100%;
    }

    .foto-inicio img {
        width: 100%;
        min-width: 15rem;
        height: auto;
        border-radius: 2rem;
    }

    .contenido-inicio {
        width: 100%;
        max-width: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenido-inicio h1 {
        position: relative;
        font-size: 5rem;
    }

    .contenido-inicio h3 {
        font-size: 1.9rem;
        line-height: 1.4;
    }
}

@media (max-width: 640px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 0.2rem solid #ff9531;
        border-bottom: 0.2rem solid #ff5931;
        right: 15%;
        width: 70%;
        border-bottom-right-radius: 2rem;
    }


    section.inicio {
        padding: 2.5rem 4%;
    }

    .contenido-inicio h1 {
        font-size: 20vw;
    }

    .contenido-inicio h3 {
        font-size: 1.6rem;
    }

    .logo {
        font-size: 2rem;
    }

    nav a {
        font-size: 5vw;
        margin: 0rem 1rem;
        text-align: center;
    }

    nav a:hover, nav a.active {
    border-bottom: none;
    border-top: 0.2rem solid #ff9531;
    border-radius: 0.2rem;
    border-radius: %;
    }
}

section.inicio {
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 9%;
}

section.sobre-mi {
    margin-top: 4rem;
    width: 100%;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
    padding: 5rem 9%;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.biografia::after, .biografia::before, .vision::after, .vision::before, .glosario::after, .glosario::before, .ethic-analysis::after, .ethic-analysis::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    background: conic-gradient( from var(--angle) at 50% 50%, #ff9531, #ff3831, #ff5a31, #ff9531);
    z-index: -1;
    padding: 0.3rem;
    border-radius: 1rem;
    animation: spin 4s linear infinite;
}

.biografia::before, .vision::before, .glosario::before, .ethic-analysis::before {
    filter: blur(1.1rem);
    opacity: 0.7;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.biografia, .vision, .glosario, .ethic-analysis {
    background: #0b0014;
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 4rem;
    margin-bottom: auto;
}

.titulo-seccion {
    position: relative;

}

.titulo-seccion::before {
    content: "";
    background: linear-gradient(135deg, #ff9531, #ff5a31, transparent);
    position: absolute;
    width: 100%;
    height: 0.23rem;
    bottom: 0;
    left: 0;
    border-radius: 5rem;
}

ol {
    list-style:disc;
    padding-left: 2rem;
}

ol li {
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #ff9531;
    padding-bottom: 1rem;
}

ol li::before, ol li::after {
    content: "";
    position: absolute;
    left: -1.5rem;
    width: 0.7rem;
    height: 0.7rem;
    background: conic-gradient( from var(--angle) at 50% 50%, #ff9900, #ff5500, #ff9900, #ff5500, #ff9900);
    border-radius: 50%;
    animation: spin 4s linear infinite;
}

ol li::before{
    filter: blur(1.1em);
    opacity: 100%;
}

section.about-ai {
    margin-top: 4rem;
    width: 100%;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
    padding: 5rem 9%;
}

.inicio {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contenido-inicio h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span.yo{
    color: transparent;
    background: linear-gradient(135deg, #ff9531, #ff5a31);
    -webkit-background-clip: text;
    background-clip: text;
}

.contenido-inicio h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

#fotoyo {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}
.foto-inicio::before {
    content: "";
    position: absolute;
    width: 32vw;
    min-width: 15rem;
    height: 43vw;
    min-height: 21rem;
    background: linear-gradient(135deg, #ffe600, #ff0000);
    border-radius: 50%;
    filter: blur(2rem);
    z-index: -1;
    animation: spin 4s linear infinite;
}

 #fotoyo::after {
    content: "";
    position: absolute;
    width: 32vw;
    height: 43vw;
    background: linear-gradient(135deg, #ffe600, #ff0000);
    border-radius: 50%;
    z-index: -1;
    animation: spin 4s linear infinite;
}

#fotoyo:hover {
    scale: 1.02;
    cursor: default;
}
section.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button-link {
    margin: 0 0.5rem 5% 0.5rem;
    display: inline-block;
    padding: 30px min(10vw, 150px);
    background: transparent;
    color: #ff9531;
    font-weight: 700;
    border: 2px solid #ff9531;
    text-decoration: none;
    border-radius: 19px;
    font-size: 1.5em;
    transition: 0.3s ease;
}

.button-link:hover {
    border: none;
    scale: 1.1;
    background: linear-gradient(135deg, #ffc531, #ff9531, #ff5531);
    color: #070111;
    box-shadow: 0 0 1.3rem #ff5a31;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.contacto-link, .contacto span {
    color: #ceccd4;
    transition: 0.3s ease;
}

.contacto-link:hover {
    color: #ff9531;
    text-shadow: 0 0 0.3rem #ff9531;
    scale: 1.1;
}
.contacto span:hover {
    color: #ff9531;
    transition: 0.3s ease;
}
footer {
    background: #110229;
    color: #ceccd4;
    padding: 10px;
    border-top: 1px solid #ff9531;
}

footer p, footer p {
    text-align: center;
}

@view-transition {
    navigation: auto;
}

::view-transition-group(main) {
    animation-duration: 5s;
}
